{% load bootstrap3 %}
{% bootstrap_messages %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    {% bootstrap_javascript %}
    <title>Yolo Challenges</title>
  </head>
  <body>
    
    {% block content %}


    <div class="container">
      <div class="jumbotron">
        <H1>Yolo Challenges</H1>
        <ul>
          {% for challenge in challenges %}
            <li>{{ challenge.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endblock %}
  </body>
</html>