# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'appname',
        'HOST': 'localhost',
        'PORT': '5432',
        'USER': 'django',
        'PASSWORD': '{{ postgresql_password }}',
    }
}
